<div class="jumbotron">
    <h1>DSC Pull Server Web</h1>
    <p class="lead">The DSC Pull Server Web is a free website and REST API to manage a PowerShell DSC pull server.</p>
    <p>@Html.ActionLink("Show Cmdlets »", "Cmdlets", "Web", new { area = "" }, new { @class = "btn btn-primary btn-lg" })&nbsp;&nbsp;&nbsp;@Html.ActionLink("Show REST API »", "RestApi", "Web", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Nodes</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula ac odio gravida posuere.</p>
        <p>@Html.ActionLink("Show Nodes »", "Nodes", "Web", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Reports</h2>
        <p>Vivamus fermentum, metus et dignissim placerat, mi lacus laoreet augue, id maximus tellus odio eget elit.</p>
        <p>@Html.ActionLink("Show Nodes »", "Reports", "Web", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Configurations</h2>
        <p> Vivamus at laoreet odio. Praesent in pharetra justo, sed cursus nulla. Vivamus scelerisque risus vitae ante facilisis rhoncus.</p>
        <p>@Html.ActionLink("Show Nodes »", "Configurations", "Web", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2>Modules</h2>
        <p>Donec nec vehicula sem. Cras et sem lobortis, bibendum risus et, pharetra mi. Aenean pharetra felis ipsum.</p>
        <p>@Html.ActionLink("Show Nodes »", "Modules", "Web", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>
