<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">@ViewBag.Description</p>
    <!--<p>@Html.ActionLink("Show Cmdlets »", "Cmdlets", "Web", new { area = "" }, new { @class = "btn btn-primary btn-lg" })&nbsp;&nbsp;&nbsp;@Html.ActionLink("Show REST API »", "RestApi", "Web", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>-->
</div>

<div class="row">
    <div class="col-md-3">
        <h2 class="page-subheader-icon page-subheader-icon-nodes">Nodes</h2>
        <p>All registered DSC nodes on the pull server, by confirugration id and names.</p>
        <p>@Html.ActionLink("Show Nodes »", "Nodes", "Web", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2 class="page-subheader-icon page-subheader-icon-reports">Reports</h2>
        <p>All received DSC status reports on the pull server.</p>
        <p>@Html.ActionLink("Show Reports »", "Reports", "Web", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2 class="page-subheader-icon page-subheader-icon-configurations">Configurations</h2>
        <p>Show all available DSC configurations (MOFs) on the pull server.</p>
        <p>@Html.ActionLink("Show Configurations »", "Configurations", "Web", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-3">
        <h2 class="page-subheader-icon page-subheader-icon-modules">Modules</h2>
        <p>Show all available PowerShell modules on the pull server.</p>
        <p>@Html.ActionLink("Show Modules »", "Modules", "Web", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>
